language: python
sudo: true
dist: xenial

python:
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - 3.9
#  - nightly

matrix:
  fast_finish: true
  allow_failures:
  - python: 3.9
  - python: nightly
  - python: 3.8
    arch: arm64
  - python: 3.8
    arch: s390x
  - name: "OSX"
    os: osx
    osx_image: xcode12  # 10.15.5
    language: shell
    install:
      # for osx we can't say "python: 3.8" so we use the system python3
      - python3 --version
      - pip3 install .
      - pip3 install .[test]
  include:
#  - python: 3.8
#    arch: arm64  # very slow but passes as of 10/3/20, 38 minutes
#  - python: 3.8
#    arch: s390x  # iirc no pandas wheels for s390x
#  - name: "OSX"  # passes as of 10/3/20, 1m17s to run, commented out for credits reasons
#    os: osx
#    osx_image: xcode12  # 10.15.5
#    language: shell
#    install:
#      # for osx we can't say "python: 3.8" so we use the system python3
#      - python3 --version
#      - pip3 install .
#      - pip3 install .[test]

git:
  depth: 99999

before_install:
  # temporary workaround for s390x and arm64 permissions problem
  # https://travis-ci.community/t/permission-issue-while-building-wheels-for-various-python-packages/7822/12
  - sudo mkdir -p ~/.cache/pip/wheels  # does not exist on osx
  - sudo chown -Rv $USER:$GROUP ~/.cache/pip/wheels

install:
  - pip install .
  - pip install .[test]

script:
  - make test_coverage

after_success:
  coveralls
